#particles-js, #contact, .info, .right{
    background-color: #000000;
    animation: bg-color 10s infinite;
    -webkit-animation: bg-color 10s infinite;
  }

  
  
  @-webkit-keyframes bg-color {
    0% { background-color: #000000; }
    33% { background-color: #2b2a25; }
    66% { background-color: #252a2b; }
    100% { background-color: #272b25; }
 
  }
  
  @keyframes bg-color {
    0% { background-color: #000000; }
    33% { background-color: #2b2a25; }
    66% { background-color: #252a2b; }
    100% { background-color: #272b25; }
  }




